/* Card.css */

.card-link {
  text-decoration: none;
  color: inherit;
}

.card {
  background-color: #E6F5E1; /* Very light and subtle green background */
  border-radius: 20px; /* More rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjusted width to be smaller */
  height: 200px; /* Adjusted height to be smaller */
  margin: 20px; /* Increased margin for better spacing */
  text-align: left;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s; /* Smooth transition for hover effects */
  flex-shrink: 0; /* Prevent shrinking */
}

.card:hover {
  background-color: #A4D3A2; /* Darker green background on hover */
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Slightly larger shadow on hover */
}

.card img {
  width: 70px; /* Adjust the width of the image */
  height: auto;
  display: block;
  margin: 20px auto; /* Center the image horizontally and add top margin */
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  font-size: 1em; /* Adjust font size */
  margin: 0 0 10px 0; /* Add margin to separate text */
  color: #000; /* Ensure the text color is black */
}

.card-content p {
  font-size: 0.8em; /* Decrease font size */
  color: #000; /* Ensure the text color is black */
}

.arrow {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.arrow svg {
  width: 24px;
  height: 24px;
  color: #9ca3af; /* Gray arrow color */
  margin-top: 10px; /* Adjust margin to align properly */
}
