/*


html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  
}

#root {
  width: 100%;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  
}

.order-details-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;                                                 
  box-sizing: border-box;
  width: 100%;
  margin-top: 500px;                 
  background-color: #FDF4DC; 
}

.order-details-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.order-details-content h1 {
  font-size: 2em;
  color: #333;
}

.order-list-heading {
  font-size: 2em;
  font-style: normal;
  font-weight: bold; 
  margin-bottom: 70px; 
  color: #333;
}

.empty-order {
  text-align: center;
  margin-top: 20px;
  position: relative;
}

.cart {
  display: flex;
  justify-content: center;
  align-items: center
  width: 400px;
  height: auto;
  margin-top: -100px;
}

.cart-image {
  width: 100%;
  height: auto;
}

.falling-items {
  position: absolute;
  top: -100px;
  left: 40%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  pointer-events: none; 
}

.item {
  position: absolute;
  top: -300px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 3em; 
  animation: fall 3s infinite;
}

.item:nth-child(2) {
  animation-delay: 1s; 
}

.item:nth-child(3) {
  animation-delay: 2s;
}

.item:nth-child(4) {
  animation-delay: 3s;
}

@keyframes fall {
  0% {
    transform: translate(-100%, -500px); 
  }
  100% {
    transform: translate(-50%, 400px);
  }
}

.no-orders-message {
  font-size: 1.5em;
  color: #666;
  margin-top: 20px;
}

.order-list {
  width: 100%;
  margin-top: -30px
}

.order-item {
  background-color: #E6F5E1;
  color: #333; 
  padding: 15px; 
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box; 
  cursor: pointer;
  position: relative;
}
  */


/*
.order-details-page .arrow {
  position: absolute;
  right: 100px;
  display: flex;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  justify-content: center;
}

.order-details-page .arrow svg {
  width: 30px;
  height: 30px;
  color: grey; 
}

.order-image {
  width: 120px; 
  margin-right: 100px; 
}

.order-image img {
  width: 75%;
  height: auto;
  border-radius: 8px;
}

.order-details {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order-details p {
  margin: 0 0 5px 0;
  color: #333;
}

.product-name {
  font-size: 1.5em ;
  font-style: normal ;
}



.order-details-footer {
  width: 100%;
  padding: 2px 5px; 
  background-color: #333;
  color: white;
  text-align: center;
  box-sizing: border-box;
  font-size: 0.7em;
  position: relative;
  margin-top: auto;
}

*/